html, body {
    height: 100%;
    width: 100%
}

.buttons-container{
    background-color: black;
}

.video_button_customization {
    border: none; 
    cursor: pointer;
    color: white;
    background-color: transparent;
}
