html, body {
    height: 100%;
    width: 100%
}

.player {
    display: flex;
    flex-direction: column;   
    box-shadow: 0px 0px 20px black;
    width: 800px; 
    height: 600px;
}

.buttons-container{
    background-color: black;
}

.video-button-customization {
    border: #fff; 
    cursor: pointer;
    color: white;
    background-color: transparent;
    font-size: 20px;
    margin-right: 20px;
}
