html, body {
    height: 100%;
    width: 100%
}

.buttons-container{
    background-color: black;
}

.video-button-customization {
    border: #fff; 
    cursor: pointer;
    color: white;
    background-color: transparent;
}
